.cards{
   
   gap: 30px;
   width: 80%;
   margin: auto;
   padding-left: 10px;
  
   
   
}

.cards>div>h1{
    font-size:xx-large;
    text-align: center;
}
.cards>div>div>img{
   
    height: 200px;
   
     border-radius:10px ;
   
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

.text{
    margin-top: -20px;
    color: blue;
    position: relative;
    visibility:visible
}
